---
let title = '';
const apiUrl = `${import.meta.env.PUBLIC_API_URL}/files/17/title`;

try {
  const response = await fetch(apiUrl);
  
  if (response.ok) {
    title = await response.text();
  } else {
    console.error("Erreur HTTP:", response.status);
  }
} catch (err) {
  console.error("Erreur fetch lors de la récupération du titre :", err);
}
---
<h2>{title}</h2>
<div class="governance">
<img class="organigrame"
  src={`${import.meta.env.PUBLIC_ASSET_URL}/files/17/download`}
  alt="organigrame de l'association"
/>
</div>