---
---

<section class="hero">
  <div class="hero-container">
    <img src="/assets/image-accueil.jpg" alt="Illustration accueil insertion" class="hero-image" />

    <div class="hero-overlay">
      <h4>Accueil Insertion Rencontre</h4>
    </div>
  </div>
</section>
