<div class="governance">
  <div>
    <img [src]="organigramUrl" alt="Organigramme de l'association" class="organigrame" />
  </div>
  <div>
    <button (click)="openModal()">✏️ Modifier l’organigramme</button>
  </div>
</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal">
    <h3>Modifier l’organigramme</h3>

    <label class="file-upload">
      📎 Sélectionner un fichier
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    </label>

    <div class="file-selected-name" *ngIf="selectedFile">
      Fichier sélectionné : {{ selectedFile.name | sanitize }}
    </div>

    <div class="form-buttons">
      <button type="button" (click)="updateOrganigram()">💾 Sauvegarder</button>
      <button type="button" (click)="closeModal()">❌ Annuler</button>
    </div>
  </div>
</div>