---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import ValuesSection from '../components/ValuesSection.astro';
import AirStatsSection from '../components/AirStatsSection.astro';
import LatestNewsSection from '../components/LatestNewsSection.astro';
import PartnersSection from '../components/PartnersSection.astro';
import PresentationCard from '../components/PresentationCard.astro';
---

<BaseLayout>
<HeroSection />
<div id="presentation">
  <PresentationCard id="1" />
</div>
<AirStatsSection />
<ValuesSection />
<LatestNewsSection />
<PartnersSection />
</BaseLayout>
