:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  }

.flyer-section {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .flyer-section button {
    background-color: #4c3575;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 0.95rem;
    border-radius: 999px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .flyer-section button:hover {
    background-color: #3a005c;
  }
  
  .flyer {
    max-width: 100%;
    height: auto;
  }

  
  /* MODAL - Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem;
  }
  
  /* MODAL - Contenu */
  .modal {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
    text-align: center;
  }
  
  .modal h3 {
    color: #4c3575;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  
  .file-upload {
    display: inline-block;
    background-color: #4c3575;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 999px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .file-upload:hover {
    background-color: #3a005c;
  }
  
  .file-upload input[type="file"] {
    display: none;
  }
  
  .file-selected-name {
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 1rem;
  }
  
  /* Boutons de la modale */
  .modal .form-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .modal .form-buttons button {
    background-color: #4c3575;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 0.95rem;
    border-radius: 999px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal .form-buttons button:hover {
    background-color: #3a005c;
  }
  
  /* Animation d'apparition */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  